body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.container {
    text-align: center;
    margin: 20px;
}

.candidates-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}


.candidate-card {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}

.candidate-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.vote-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.vote-btn:hover {
    background-color: #218838;
}

.votes {
    margin-top: 10px;
    font-size: 16px;
}

.countdown {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
}

#winner {
    text-align: center;
    margin: 30px 0;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
